html, body, main, { height: 100% }
body {
  background: #fff url(/images/legend.gif) no-repeat fixed;
  @include background-size(cover);
}

main { padding-bottom: 30px; }
footer {
  height: 30px;
  margin-top: -30px;
}

section {
  &, &>div, &>div>div { height: 100% }
}

.v-center {
  display:table;
  height: 100%;
  &>div {
    display: table-cell;
    vertical-align:middle;
  }
}
